h1 { color: #0e0e0e; 
    font-family: "Great Vibes", cursive; font-size: 100px; 
    line-height: 160px; font-weight: normal; 
    margin-bottom: 0px; margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}

p { color: #000; 
    font-size: 40px; 
    font-family: "Libre Baskerville", serif; 
    line-height: 45px; text-align: center; 
    /* text-shadow: 0 1px 1px #fff;  */
    padding-top: 20px; 
}


p.byline { 
    font-style: italic; 
    color: #B6B6B6; 
    font-size: 24px; 
    margin-top: 20px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}

