<!-- <span *ngIf="progressBarQuery">
  <mat-progress-bar color="accent" mode="indeterminate"> </mat-progress-bar>
</span>
<br><br><br>
  
  <div class="d-flex align-items-center justify-content-center">
    <div class="card text-white bg-dark mb-12" >
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title"><h1>Se Connecter</h1></h5>
        <p class="card-text">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form #f="ngForm" (ngSubmit)="onLogin(f.value)" class="example-form">
                <table class="example-full-width" cellspacing="0" >
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="login" ngModel name="login" required>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <input style="float: left" matInput [type]="hide ? 'password' : 'text'" placeholder="Password" ngModel type="password" name="password" required>
                      </mat-form-field>
                      <mat-icon class="placeholder" (click)="hide = !hide" style="cursor: pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </td>
                  </tr>
                  <tr>
                    <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Se Connecter</button>
                  </tr>
                </table>
              </form>
            </mat-card-content>
            <mat-card-actions>
              
            </mat-card-actions>
          </mat-card>
        </p>
      </div>
    </div>
  </div> -->

  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
  <span *ngIf="progressBarQuery">
    <mat-progress-bar color="accent" mode="indeterminate"> </mat-progress-bar>
  </span>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
              <form #f="ngForm" (ngSubmit)="onLogin(f.value)" class="box">
                    <h1>Login</h1>
                    <p class="text-muted"> Svp entrer votre login et votre password!</p> 
                    <input type="text" ngModel name="login" placeholder="Username" required> 
                    <div class="fontuser">
                      <input  [type]="hide ? 'password' : 'text'" ngModel name="password" placeholder="Password" required> 
                      <mat-icon class="eye" (click)="hide = !hide" style="cursor: pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                      <a class="forgot text-muted" href="#">Forgot password?</a> 
                    <input type="submit" name="" value="Login" [disabled]="f.invalid">
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
  
  <!-- <br>
  <pre>{{form.value | json}}</pre> -->